#reserva {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
}

form input, form textarea {
    width: 100%;
    background-color: #f8d477;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 25px;
    color: #000000;
    font-size: 18px;
}

form textarea {
    resize: none;
    max-height: 150px;
}

form .btn_enviar {
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

form .btn_enviar input {
    width: 90px;
}